

.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 2000;
top: 0;
left: 0;
background-color: #4a4b4c;
background-attachment: fixed;
background: cover;
opacity: 0.9;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
background-attachment: fixed;

}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #161c26;
display: block;
transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
color: #03204f;
opacity: 2;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}



            }
            .sidenav ul li:hover {
                background-color:aqua;
                transition: all 0.50s;